<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Lego.Ev3.BrickManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="Ev3Framework" type="Lego.Ev3.Framework.Configuration.Section, Lego.Ev3.Framework" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <Ev3Framework>
    <Socket Type="Usb" Address="" PowerUpSelfTest="false" />
    <!--
    Comment out a socket below and set attribute Address to proper address. Make sure you have only one socket entry in app.config
   
    <Socket Type="Bluetooth" Address="COM4" PowerUpSelfTest="false" />
    
    <Socket Type="Network" Address="192.168.2.1" PowerUpSelfTest="false" />
    -->
  </Ev3Framework>
  <userSettings>
    <Lego.Ev3.BrickManager.Properties.Settings>
      <setting name="LocalMachinePath" serializeAs="String">
        <value />
      </setting>
      <setting name="FP_Mode" serializeAs="String">
        <value>Basic</value>
      </setting>
      <setting name="FP_FullAdmin" serializeAs="String">
        <value>False</value>
      </setting>
    </Lego.Ev3.BrickManager.Properties.Settings>
  </userSettings>
</configuration>